/.idea
/.vagrant
/cache
/vendor/
/bin/sma-spot/
/config/*.json
/config/SMAspot.cfg
/web/.htaccess
/web/css/bootstrap*
/web/img/glyph*
/web/js/bootstrap.*
/web/js/highcharts/*
/web/js/jquery*
/web/pma
silex.log
