{% extends "layout.twig" %}

{% block title %}users{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>User</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>future500</td>
            <td>Edit</td>
        </tr>
        </tbody>
    </table>
{% endblock %}