.select2-container {
    margin-right: 15px;
}

.select2-container-multi .select2-choices .select2-search-choice {
    margin-top: 5px;
    padding: 3px;
}

.spinner {
    background: #f4f4f4 url('/img/select2-spinner.gif') no-repeat 98%;
}