#footerDaily, #footerMonthly {
	text-align:center;
}

#dailyText, #monthlyText {
    padding-left:25px;
    padding-top:10px;
}

#iconMonthly, #iconDaily {
    padding-right:15px;
    margin-left:5px;
    margin-right:20px;
    width:1px;
}

#nextDay:hover, #prevDay:hover, #nextMonth:hover, #prevMonth:hover {
    color: #8788CF;
}

#monthlyChart {
    margin-top:15px;
}

#aboutContent {
    margin-top:20px;
}

.countryFlag {
    margin-top:10px;
    margin-left:10px;
}