#footerDaily, #footerMonthly {
	text-align:center;
}

#dailyText, #monthlyText {
    padding-left:25px;
    padding-right:25px;
}

#nextDay:hover, #prevDay:hover, #nextMonth:hover, #prevMonth:hover {
    color: #8788CF;
}