{
    "debug": false,
    "config": {
        "db.options": {
            "driver":   "pdo_mysql",
            "host":     "localhost",
            "dbname":   "robin_energycentral",
            "user":     "robin",
            "password": "********",
            "charset":  "utf8"
        },
        "monolog.logfile": "%root_dir%/silex.log",
        "profiler.cache_dir": "%root_dir%/cache/profiler"
    }
}
