BTAddress=[BTADDRESS]
Password=[PASSWORD]
Plantname=ec
OutputPath=data/%Y
Latitude=52.03
Longitude=4.38
CalculateMissingSpotValues=1
DateTimeFormat=%Y-%m-%d %H:%M:%S
DateFormat=%Y-%m-%d
DecimalPoint=point
TimeFormat=%H:%M:%S
SynchTime=1
SunRSOffset=900
CSV_Export=1
CSV_ExtendedHeader=0
CSV_Header=0
CSV_SaveZeroPower=1
CSV_Delimiter=semicolon
PVoutput=0
PVoutput_SID=
PVoutput_Key=
