{
    "debug": false,
    "centralmode": true,
    "config": {
        "db.options": {
            "driver":   "pdo_mysql",
            "host":     "localhost",
            "dbname":   "{{ ecserver_db_name }}",
            "user":     "{{ ecserver_db_user }}",
            "password": "{{ ecserver_db_password }}",
            "charset":  "utf8"
        },
        "monolog.logfile": "%root_dir%/cache/silex.log",
        "profiler.cache_dir": "%root_dir%/cache/profiler"
    }
}