{
    "debug": false,
    "centralmode": {{ ec_central_mode }},
    "config": {
        "db.options": {
            "driver":   "pdo_mysql",
            "host":     "localhost",
            "dbname":   "{{ ec_db_name }}",
            "user":     "{{ ec_db_user }}",
            "password": "{{ ec_db_password }}",
            "charset":  "utf8"
        },
        "monolog.logfile": "%root_dir%/cache/silex.log",
        "profiler.cache_dir": "%root_dir%/cache/profiler"
    }
}