{% extends "layout.twig" %}

{% block title %}About{% endblock %}

{% block navItems %}
	<li><a href='/'>{{ 'navigation.home'|trans }}</a></li>
	<li class='active'><a href='#'>{{ 'navigation.about'|trans }}</a></li>
{% endblock %}

{% block content %}
	<img src='{{app.request.basepath}}/img/logo.png' alt=''/>

	<div id='about-content'>
		<p>
			<b>Solaris Energiesystemen</b><br>
			Cypergras 213<br>
			2498 CB  Den Haag
		</p>

		<p>
			<a href='mailto:robin@solaris-energiesystemen.nl'>robin@solaris-energiesystemen.nl</a><br>
			06-45466498<br>
			Faxnr: 084-0031057<br>
		</p>
	</div>
{% endblock %}