{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block content %}
	<div id='dailyChart'>
	</div>

	<div id='footerDaily'>
		<a href="javascript:getDay('{{ date|date_modify("-1 day")|date("Y-m-d")}}');" id='prevDay'>Previous</a>
		{% if dayStats|raw|length != 2 %}
			<span class='dailyText'>Currently viewing statistics for</span>
		{% else %}
			<span class='dailyText'>No daily statistics available for</span>
		{% endif %}
		<span id='dailyTextPicker'>{{ date|date("d-m-Y") }}.</span>
		<a href="javascript:getDay('{{ date|date_modify("+1 day")|date("Y-m-d")}}');" id='nextDay'>Next</a>
	
		<div id="datePickerDay" data-date="02-2012" data-date-format="mm-yyyy">
		</div>
	</div>

	<div id='monthlyChart'>
	</div>

	<div id='footerMonthly'>
		<a href="javascript:getMonth('{{ date|date("Y") }}-{{ date|date_modify("-1 month")|date("m") }}');" id='prevMonth'>Previous</a>
		{% if monthStats|raw|length != 2 %}
			<span class='monthlyText'>Currently viewing statistics for</span>
		{% else %}
			<span class='monthlyText'>No statistics available for</span>
		{% endif %}
		<span id='monthlyTextPicker'>{{ date|date("m-Y")}}.</span>
		<a href="javascript:getMonth('{{ date|date("Y") }}-{{ date|date_modify("+1 month")|date("m") }}');" id='nextMonth'>Next</a>

		<div id="datePickerMonth" data-date="02-2012" data-date-format="mm-yyyy">
		</div>

		<input type="hidden" value="02/16/12" data-date-format="mm/dd/yy" class="datepicker" >

	</div>
{% endblock %}

{% block extra_bottomjs %}
	<script src="{{ app.request.basepath }}js/highcharts/highcharts.js"></script>
	<script src="{{ app.request.basepath }}js/highcharts/modules/exporting.js"></script>
	<script src="{{ app.request.basepath }}js/bootstrap-min.js"></script>
	<script src="{{ app.request.basepath }}js/bootstrap-datepicker.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
		$(".datepicker").datepicker(
		    { viewMode: "months", 
    			minViewMode: "months",
		     format: 'mm-yyyy'
		});
		$('.datepicker').hide();

		$('.datepicker').on('click', function(data) {
			$('.datepicker').hide();
			alert(data);
		});

		$('#monthlyTextPicker').on('click', function() {
			$('.datepicker').show();
		});

			// Set minimum and maximum values
			/*$.get("/val/min/month", function(data) { 
				$( "#datePickerMonth" ).datepicker( "option", "minDate", new Date(data) );
			});
			$.get("/val/max/month", function(data) { 
				$( "#datePickerMonth" ).datepicker( "option", "maxDate", new Date(data) );
			});
			$.get("/val/min/day", function(data) { 
				$( "#datePickerDay" ).datepicker( "option", "minDate", new Date(data) );
			});
			$.get("/val/max/day", function(data) { 
				$( "#datePickerDay" ).datepicker( "option", "maxDate", new Date(data) );
			});*/
		});

		$(function () {
		    $('#dailyChart').highcharts({
				chart: {
					type: 'area',
				},
				title: {
					text: 'Energy production',
				},
				subtitle: {
					text: 'per day'
				},
				plotOptions: {
					area: {
						shadow: false,
						states: {
							hover: {
								lineWidth: 2
							}
						},
						marker: {
							enabled: false,
							states: {
								hover: {
									enabled: true,
									radius: 4,
									lineWidth: 1
								}
							}
						}
					}
				},
				xAxis: {
					type: 'datetime',
       				tickInterval: 3600000,
				},
				yAxis: {
					title: {
						text: 'kW'
					},
					plotLines: [{
						value: 0,
						width: 1,
						color: '#808080'
					}],
				},
				credits: {
					enabled:false
				},
				tooltip: {
					valueSuffix: 'kW',
					snap:1
				},
				legend: {
					layout: 'vertical',
					align: 'right',
					verticalAlign: 'middle',
					borderWidth: 0
				},
				series: [{
					name: 'kW generated',
          			data: {{ dayStats }}
				}]
		    });

			$('#monthlyChart').highcharts({
				chart: {
					type: 'column',
				},
				title: {
					text: 'Energy production',
				},
				subtitle: {
					text: 'per month'
				},
				plotOptions: {
					area: {
						shadow: false,
						states: {
							hover: {
								lineWidth: 2
							}
						},
						marker: {
							enabled: false,
							states: {
								hover: {
									enabled: true,
									radius: 4,
									lineWidth: 1
								}
							}
						}
					}
				},
				xAxis: {
					type: 'datetime',
	       			tickInterval: 24 * 3600 * 1000,
					labels: {
						rotation: -90,
						y:25
					}
				},
				yAxis: {
					title: {
						text: 'kW'
					},
					plotLines: [{
						value: 0,
						width: 1,
						color: '#808080'
					}],
				},
				credits: {
					enabled:false
				},
				tooltip: {
					valueSuffix: 'kW',
					snap:1
				},
				legend: {
					layout: 'vertical',
					align: 'right',
					verticalAlign: 'middle',
					borderWidth: 0
				},
				series: [{
					name: 'kW generated',
	          		data: {{ monthStats }}
				}]
			});
		});

		function convertDate(date, monthly, reverse)
		{
			var d = date.getDate();
			var m = date.getMonth() + 1;
			var y = date.getFullYear();

			if (monthly) {
				if (reverse) { // backwards
					return y + '-' + (m <= 9 ? '0' + m : m);
				} else {
					return (m <= 9 ? '0' + m : m) + '-' + y;
				}
			} else {
				return (d <= 9 ? '0' + d : d) + '-' + (m <= 9 ? '0' + m : m) + '-' + y;
			}
		}

		function updateFooter(date, emptyData)
		{
			if (date.length > 7) { // we are updating the daily graph
				$.get("/dateCalc/" + date + "/inc/Y-m-d", function(data) { 
					$("#nextDay").attr("href", "javascript:getDay('" + data + "');");
				});

				$.get("/dateCalc/" + date + "/dec/Y-m-d", function(data) { 
					$("#prevDay").attr("href", "javascript:getDay('" + data + "');");
				});

				if (!emptyData) {
					$('.dailyText').html('Currently viewing statistics for ');
					$('#dailyTextPicker').html(convertDate(new Date(date)));
				} else {
					$('.dailyText').html('No statistics available for ');
					$('#dailyTextPicker').html(convertDate(new Date(date)));
				}
			} else { // we are updating the monthly graph
				$.get("/dateCalc/" + date + "/inc/Y-m", function(data) { 
					$("#nextMonth").attr("href", "javascript:getMonth('" + data + "');");
				});

				$.get("/dateCalc/" + date + "/dec/Y-m", function(data) { 
					$("#prevMonth").attr("href", "javascript:getMonth('" + data + "');");
				});

				if (!emptyData) {
					$('.monthlyText').html('Currently viewing statistics for ');
					$('#monthlyTextPicker').html(convertDate(new Date(date), true));
				} else {
					$('.monthlyText').html('No statistics available for ');
					$('#monthlyTextPicker').html(convertDate(new Date(date), true));
				}
			}
		}
		function getDay(date) 
		{
			$('.dailyText').html('Fetching data ...');
			$('#dailyTextPicker').html('');

			$.getJSON("/" + date, function(data) { 
				var chart = $('#dailyChart').highcharts();
				chart.series[0].setData(data);
				updateFooter(date, data.length <= 2); // update the footer, second argument is to check if data is empty or not
			});
		}

		function getMonth(date)  // change to date ? 
		{
			$('.monthlyText').html('Fetching data ...');
			$('#monthlyTextPicker').html('');

			var splitData = date.split('-'); // split into year and month
			var month = splitData[1];
			var year = splitData[0];

			if (!year || !month) { // check if valid
				$('.monthlyText').html('Fetching data failed!');
			} else {
				$.getJSON("/" + year + '/' + month, function(data) { 
					var chart = $('#monthlyChart').highcharts();
					chart.series[0].setData(data);
					updateFooter(year + '-' + month, data.length <= 2); // update the footer, second argument is to check if data is empty or not
				});
			}
		}
	</script>
{% endblock %}