{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block content %}
	<div id='dailyChart'>
	</div>

	<div id='footerDaily'>
		<a href="javascript:getDay('{{ date|date_modify("-1 day")|date("Y-m-d")}}');" id='prevDay'>Previous</A>
		{% if dayStats|raw|length != 2 %}
			<span class='dailyText'>Currently viewing daily statistics for {{ date|date("d-m-Y")}}.</span>
		{% else %}
			<span class='dailyText'>No daily statistics available for {{ date|date("d-m-Y") }}.</span>
		{% endif %}
		<a href="javascript:getDay('{{ date|date_modify("+1 day")|date("Y-m-d")}}');" id='nextDay'>Next</A>

		<span class='dailyText'><p>Select a date <input type="text" id="datepicker" /></p></span>
	</div>

	<div id='monthlyChart'>
	</div>

	<div id='footerMonthly'>
		<a href="javascript:getMonth({{ date|date("Y") }},{{ date|date_modify("-1 month")|date("m") }});" id='prevMonth'>Previous</A>
		{% if monthStats|raw|length != 2 %}
			<span class='monthlyText'>Currently viewing statistics for {{ date|date("m-Y")}}.</span>
		{% else %}
			<span class='monthlyText'>No statistics available for {{ date|date("m-Y") }}.</span>
		{% endif %}
		<a href="javascript:getMonth({{ date|date("Y") }},{{ date|date_modify("+1 month")|date("m") }});" id='nextMonth'>Next</A>
	</div>
{% endblock %}

{% block extra_bottomjs %}
	<link href="{{ app.request.basepath }}/css/smoothness/jquery-ui-1.10.3.custom.css" rel="stylesheet">

	<script src="{{ app.request.basepath }}js/highcharts/highcharts.js"></script>
	<script src="{{ app.request.basepath }}js/highcharts/modules/exporting.js"></script>

	<script src="{{ app.request.basepath }}js/jquery.ui.core.js"></script>
	<script src="{{ app.request.basepath }}js/jquery.ui.widget.js"></script>
	<script src="{{ app.request.basepath }}js/jquery.ui.mouse.js"></script>
	<script src="{{ app.request.basepath }}js/jquery.ui.position.js"></script>
	<script src="{{ app.request.basepath }}js/jquery.ui.datepicker.js"></script>

	<script type="text/javascript">
	 $(function() {
    $( "#datepicker" ).datepicker();
  });
		$(function () {
		    $('#dailyChart').highcharts({
				chart: {
					type: 'area',
				},
				title: {
					text: 'Energy production',
				},
				subtitle: {
					text: 'per day'
				},
				plotOptions: {
					area: {
						shadow: false,
						states: {
							hover: {
								lineWidth: 2
							}
						},
						marker: {
							enabled: false,
							states: {
								hover: {
									enabled: true,
									radius: 4,
									lineWidth: 1
								}
							}
						}
					}
				},
				xAxis: {
					type: 'datetime',
       				tickInterval: 3600000,
				},
				yAxis: {
					title: {
						text: 'kW'
					},
					plotLines: [{
						value: 0,
						width: 1,
						color: '#808080'
					}],
				},
				credits: {
					enabled:false
				},
				tooltip: {
					valueSuffix: 'kW',
					snap:1
				},
				legend: {
					layout: 'vertical',
					align: 'right',
					verticalAlign: 'middle',
					borderWidth: 0
				},
				series: [{
					name: 'kW generated',
          			data: {{ dayStats }}
				}]
		    });

			$('#monthlyChart').highcharts({
				chart: {
					type: 'column',
				},
				title: {
					text: 'Energy production',
				},
				subtitle: {
					text: 'per month'
				},
				plotOptions: {
					area: {
						shadow: false,
						states: {
							hover: {
								lineWidth: 2
							}
						},
						marker: {
							enabled: false,
							states: {
								hover: {
									enabled: true,
									radius: 4,
									lineWidth: 1
								}
							}
						}
					}
				},
				xAxis: {
					type: 'datetime',
	       			tickInterval: 24 * 3600 * 1000,
					labels: {
						rotation: -90,
						y:25
					}
				},
				yAxis: {
					title: {
						text: 'kW'
					},
					plotLines: [{
						value: 0,
						width: 1,
						color: '#808080'
					}],
				},
				credits: {
					enabled:false
				},
				tooltip: {
					valueSuffix: 'kW',
					snap:1
				},
				legend: {
					layout: 'vertical',
					align: 'right',
					verticalAlign: 'middle',
					borderWidth: 0
				},
				series: [{
					name: 'kW generated',
	          		data: {{ monthStats }}
				}]
			});
		});

		function convertDate(date, monthly)
		{
			var d = date.getDate();
			var m = date.getMonth() + 1;
			var y = date.getFullYear();

			if (monthly) {
				return (m <= 9 ? '0' + m : m) + '-' + y;
			} else {
				return (d <= 9 ? '0' + d : d) + '-' + (m <= 9 ? '0' + m : m) + '-' + y;
			}
		}

		function updateFooter(date, emptyData)
		{
			if (date.length > 7) { // we are updating the daily graph
				$.get("/dateCalc/" + date + "/inc/Y-m-d", function(data) { 
					$("#nextDay").attr("href", "javascript:getDay('" + data + "');");
				});

				$.get("/dateCalc/" + date + "/dec/Y-m-d", function(data) { 
					$("#prevDay").attr("href", "javascript:getDay('" + data + "');");
				});

				if (!emptyData) {
					$('.dailyText').html('Currently viewing statistics for ' + convertDate(new Date(date)) + '.');
				} else {
					$('.dailyText').html('No statistics available for ' + convertDate(new Date(date)) + '.');
				}
			} else { // we are updating the monthly graph
				$.get("/dateCalc/" + date + "/inc/Y,m", function(data) { 
					$("#nextMonth").attr("href", "javascript:getMonth(" + data + ");");
				});

				$.get("/dateCalc/" + date + "/dec/Y,m", function(data) { 
					$("#prevMonth").attr("href", "javascript:getMonth(" + data + ");");
				});

				if (!emptyData) {
					$('.monthlyText').html('Currently viewing statistics for ' + convertDate(new Date(date), true) + '.');
				} else {
					$('.monthlyText').html('No statistics available for ' + convertDate(new Date(date), true) + '.');
				}
			}
		}

		function getDay(date) 
		{
			$('.dailyText').html('Fetching data ...');

			$.getJSON("/" + date, function(data) { 
				var chart = $('#dailyChart').highcharts();
				chart.series[0].setData(data);
				updateFooter(date, data.length <= 2); // update the footer, second argument is to check if data is empty or not
			});
		}

		function getMonth(year, month) 
		{
			$('.monthlyText').html('Fetching data ...');

			$.getJSON("/" + year + '/' + month, function(data) { 
				var chart = $('#monthlyChart').highcharts();
				chart.series[0].setData(data);
				updateFooter(year + '-' + month, data.length <= 2); // update the footer, second argument is to check if data is empty or not
			});
		}
	</script>
{% endblock %}