{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block content %}
	<div id='dailyChart'>
	</div>

	<div id='footerDaily'>
		<a href="javascript:getDay('{{ date|date_modify("-1 day")|date("Y-m-d")}}');" id='prevDay'>Previous</A>
		{% if dayStats|raw|length != 2 %}
			<span id='dailyText'>Currently viewing daily statistics for {{ date|date("d-m-Y")}}.</span>
		{% else %}
			<span id='dailyText'>No daily statistics available for {{ date|date("d-m-Y") }}.</span>
		{% endif %}
		<a href="javascript:getDay('{{ date|date_modify("+1 day")|date("Y-m-d")}}');" id='nextDay'>Next</A>
	</div>

	<div id='monthlyChart'>
	</div>

	<div id='footerMonthly'>
		<a href="javascript:getMonth('{{ date|date_modify("-1 month")|date("m")}}');" id='prevMonth'>Previous</A>
		{% if monthStats|raw|length != 2 %}
			<span id='monthlyText'>Currently viewing monthly statistics for month {{ date|date("m")}}.</span>
		{% else %}
			<span id='monthlyText'>No monthly statistics available for month {{ date|date("m") }}.</span>
		{% endif %}
		<a href="javascript:getMonth('{{ date|date_modify("+1 month")|date("m")}}');" id='nextMonth'>Next</A>
	</div>
{% endblock %}

{% block extra_bottomjs %}
	<script src="{{ app.request.basepath }}js/highcharts/highcharts.js"></script>
	<script src="{{ app.request.basepath }}js/highcharts/modules/exporting.js"></script>

	<script type="text/javascript">
		$(function () {
		    $('#dailyChart').highcharts({
				chart: {
					type: 'area',
				},
				title: {
					text: 'Energy production',
				},
				subtitle: {
					text: 'per day'
				},
				plotOptions: {
					area: {
						shadow: false,
						states: {
							hover: {
								lineWidth: 2
							}
						},
						marker: {
							enabled: false,
							states: {
								hover: {
									enabled: true,
									radius: 4,
									lineWidth: 1
								}
							}
						}
					}
				},
				xAxis: {
					type: 'datetime',
       				tickInterval: 3600000,
				},
				yAxis: {
					title: {
						text: 'kW'
					},
					plotLines: [{
						value: 0,
						width: 1,
						color: '#808080'
					}],
				},
				credits: {
					enabled:false
				},
				tooltip: {
					valueSuffix: 'kW',
					snap:1
				},
				legend: {
					layout: 'vertical',
					align: 'right',
					verticalAlign: 'middle',
					borderWidth: 0
				},
				series: [{
					name: 'kW generated',
          			data: {{ dayStats }}
				}]
		    });

			$('#monthlyChart').highcharts({
				chart: {
					type: 'column',
				},
				title: {
					text: 'Energy production',
				},
				subtitle: {
					text: 'per month'
				},
				plotOptions: {
					area: {
						shadow: false,
						states: {
							hover: {
								lineWidth: 2
							}
						},
						marker: {
							enabled: false,
							states: {
								hover: {
									enabled: true,
									radius: 4,
									lineWidth: 1
								}
							}
						}
					}
				},
				xAxis: {
					type: 'datetime',
	       			tickInterval: 24 * 3600 * 1000,
					labels: {
						rotation: -90,
						y:25
					}
				},
				yAxis: {
					title: {
						text: 'kW'
					},
					plotLines: [{
						value: 0,
						width: 1,
						color: '#808080'
					}],
				},
				credits: {
					enabled:false
				},
				tooltip: {
					valueSuffix: 'kW',
					snap:1
				},
				legend: {
					layout: 'vertical',
					align: 'right',
					verticalAlign: 'middle',
					borderWidth: 0
				},
				series: [{
					name: 'kW generated',
	          		data: {{ monthStats }}
				}]
			});
		});

		function dateToText(date, YMD)
		{
		    var d = date.getDate();
		    var m = date.getMonth() + 1;
		    var y = date.getFullYear();

		    if (YMD) {
		    	return '' + y + '-' + (m<=9 ? '0' + m : m) + '-' + (d <= 9 ? '0' + d : d);
		    } else {
		    	return (d <= 9 ? '0' + d : d) + '-' + (m<=9 ? '0' + m : m)  + '-' + y;
		    }
		}

		function updateFooter(date, emptyData)
		{
			var nextDate = new Date(date);
			var prevDate = new Date(date);


			if(date.length > 2) { // we are updating the daily graph
				// we create a new date because the twig date is only sent once to the template
				if (!emptyData) {
					$('#dailyText').html('Currently viewing statistics for ' + dateToText(nextDate, false) + '.');
				} else {
					$('#dailyText').html('No statistics available for ' + dateToText(nextDate, false) + '.');
				}

				// set new links and texts
				nextDate.setDate(nextDate.getDate()+1);
				prevDate.setDate(prevDate.getDate()-1);
				
				$("#nextDay").attr("href", "javascript:getDay('" + dateToText(nextDate, true) + "');");
				$("#prevDay").attr("href", "javascript:getDay('" + dateToText(prevDate, true) + "');");
			} else { // we are updating the monthly graph
				// we create a new date because the twig date is only sent once to the template
				var month = nextDate.getMonth() + 1; // months are zero based so +1

				if (!emptyData) {
					$('#monthlyText').html('Currently viewing monthly statistics for month ' + month + '.');
				} else {
					$('#monthlyText').html('No monthly statistics available for month ' + month + '.');
				}

				// set new links and texts
				nextDate.setMonth(month + 1);
				prevDate.setMonth(month - 1);

				$("#nextMonth").attr("href", "javascript:getMonth('" + nextDate.getMonth() + "');");

				/*if(prevDate.getMonth() == 0 && $('#prevMonth').is(":visible")) { // no more months to show so hide the link
					$("#prevMonth").hide();
				} else {
					// show the link again if its hidden
					if (!$('#prevMonth').is(":visible")) {
						$("#prevMonth").show();
					}
				*/
					$("#prevMonth").attr("href", "javascript:getMonth('" + prevDate.getMonth() + "');");
				//}
			}
		}

		function getDay(date) {
			$.getJSON("/" + date, function(data) { 
				var chart = $('#dailyChart').highcharts();
				chart.series[0].setData(data);
				updateFooter(date, data.length <= 2); // update the footer, second argument is to check if data is empty or not
			});
		}

		function getMonth(month) {
			$.getJSON("/" + month, function(data) { 
				var chart = $('#monthlyChart').highcharts();
				chart.series[0].setData(data);
				updateFooter(month, data.length <= 2); // update the footer, second argument is to check if data is empty or not
			});
		}
	</script>
{% endblock %}