{% extends "layout.twig" %}

{% block title %}{{ 'navigation.profile'|trans }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h3>{{ 'navigation.profile'|trans }}</h3>
    </div>

    {% include 'profile_form.twig' with {'show_oldpass': true, 'require_pass': true} %}
{% endblock %}